.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 47px 100px 96px;
}
.about-us__logo {
    width: 612px;
    margin-bottom: 60px;
    padding-top: 100px;
}
.about-us__left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.about-us__content {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    align-items: center;
}
.about-us-img__border-first, .about-us-img__border-second {
    border: 3px solid #CED9ED;
    border-radius: 6px;
    position: absolute;
    width: 531px;
    height: 354px;
}
.about-us-img__border-first {
    left: 838px;
    top: 76px;
}
.about-us-img__border-second {
    left: 862px;
    top: 52px;
}