.about-us {
    /* display: flex;
    align-items: center;
    justify-content: space-between;*/
    padding: 100px 96px 50px; 
}
.about-us__container {
    padding: 75px 200px;
    background: #F7F9FD;
    border-radius: 25px;
    text-align: center;
}
.about-us__container img {
    margin-bottom: 50px;
}
.about-us__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-us__content p {
    text-align: left;
    font-family: 'Commissioner';
    font-weight: 500;
    line-height: 1.5;
    font-size: 22px;
    color: #080D16;
}
fieldset {
    border: 0px solid #000;
}

@media (max-width: 1300px) {
    .about-us__container {
        padding: 75px 50px;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .about-us {
        padding: 100px 0px 25px; 
    }
    .about-us__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-us__content p {
        margin-bottom: 25px;
        width: 95vw;
        font-size: 4vw;
        text-align: center;
    }
    /* .about-us__content p:nth-child(even) {
        text-align: right;
    } */
    .about-us__container {
        padding: 50px 15px;
    }
}
@media (max-width: 650px) {
    .about-us__logo {
        width: 90vw;
    }
    .about-us__container {
        padding: 50px 0px;
    }
}

@media (max-width: 450px) {
    .about-us {
        padding: 55px 0px; 
    }
}
@media (max-width: 380px) {
    .about-us {
        padding: 10px 0px; 
    }
}