.form__section {
    text-align: center;
    padding: 100px 0 25px 10px;
    font-family: 'Commissioner', sans-serif;
}
.form__heading {
    font-weight: 600;
    font-size: 40px;
    color: #080D16;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.form__subheading {
    font-size: 24px;
    font-weight: 600;
    color: #080D16;
    margin-bottom: 50px;
}
.form__subheading span {
    color: #4267b2;
    text-transform: uppercase;
}

.form__cards {
    display: grid;
    width: 95vw;
    margin: 0 auto;
    grid-template:  1fr / repeat(3, 1fr);
    margin-bottom: 40px;
}
.form__card {
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #F7F9FD;
    border-radius: 8px;
    font-family: 'Commissioner';
    font-weight: 500;
    font-size: 18px;
    padding: 24px;
    max-width: 30vw;
}
.form__input {
    padding: 10px;
    border: 2px solid #4267b2;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 20px;
}
.checkboxes__label {
    margin-bottom: 8px;
}
.form__checkboxes {
    display: flex;
}
.form__checkbox label {
    margin: 0 30px 0 5px;
}
.deadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 15px;
}
.deadline input {
    margin: 0;
    border: 0;
    width: 50%;
    padding: 0;
}
.form-btn {
    background: #898F9C;
    border-radius: 10px;
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 16px;
    padding: 16px 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: #F5F5F5;
    outline: none;
    border: 0px;
    text-transform: uppercase;
}
.active {
    background: #4267b2;
    cursor: pointer;
}
.not-active {
    cursor: not-allowed;
}
.submit_message {
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    display: none;
}
.success_message {
    color: green;
    display: block;
}
.error_message {
    color: red;
    display: block;
}

@media (max-width: 1270px) {
    .form__cards {
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        gap: 24px 0;
    }
    .first-card {
        grid-area: 1 / 1 / 2 / 3;
    }
    .second-card {
        grid-area: 1 / 3 / 2 / 5;
    }
    .third-card {
        grid-area: 2 / 2 / 3 / 4;
    }
    .form__card {
        max-width: 45vw;
    }
}
@media (max-width: 600px) {
    .form__cards {
        grid-template: repeat(3, 1fr) / 1fr;
        gap: 24px 0;

    }
    .first-card {
        grid-area: 1 / 1 / 2 / 2;
    }
    .second-card {
        grid-area: 2 / 1 / 3 / 2;
    }
    .third-card {
        grid-area: 3 / 1 / 4 / 2;
    }
    .form__card {
        max-width: 95vw;
    }
}
@media (max-width: 350px) {
    .form-btn {
        padding: 16px 40px;
    }
    .submit_message {
        font-size: 14px;
    }
}