.header {
    padding: 150px 0 0 150px;
    width: 100vw;
    justify-content: space-between;
    align-items: top; 
    display: flex;

}
.company-name {
    font-weight: 600;
    color: #080D16;
    font-size: 72px;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.company-slogan {
    color: #080D16;
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 40px;
}
.apply-btn {
    text-decoration: none;
    color: white;
    padding: 16px 100px;
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background: #005697;
    margin-bottom: 50px;
    border-radius: 10px;
}