.process {
    padding: 10px 200px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process__heading {
    text-align: center;
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 40px;
    color: #080D16;
    text-transform: uppercase;
    padding-top: 100px;
    margin-bottom: 30px;
}
.process__phases {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    gap: 16px 40px;
}
.phase__heading-line {
    display: flex;
    align-items: baseline;
}
.process-number {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 40px;
    color: #005697;
    padding-right: 5px;
}
.phase__heading-line h2 {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 24px;
    color: #080D16;
}
.phase-description {
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 30px;
}
.discovery-phase {
    grid-area: 1 / 1 / 2 / 2;
}
.design-phase {
    grid-area: 2 / 2 / 3 / 3;
}
.left-phase-img {
    position: absolute;
    left: 100px;
    z-index: -1;
}
.right-phase-img {
    position: absolute;
    left: calc(100vw - 25em);
    z-index: -1;
}
.dev-phase {
    grid-area: 3 / 1 / 4 / 2;
}
.testing-phase {
    grid-area: 4 / 2 / 5 / 3;
}
.deployment-phase {
    grid-area: 5 / 1 / 6 / 2;
}
.maintenance-phase {
    grid-area: 6 / 2 / 7 / 3;
}
.process-btn {
    margin-top: 35px;
    text-decoration: none;
    color: white;
    padding: 16px 100px;
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background: #005697;
    border-radius: 10px;
}

@media (max-width: 1050px) {
    .process {
        padding: 10px 50px 0px;
    }
    .process-btn {
        margin-top: 75px;
    }
    .left-phase-img {
        position: absolute;
        left: 0px;
        z-index: -1;
    }
    .right-phase-img {
        position: absolute;
        left: calc(100vw - 250px);
        z-index: -1;
    }
}

@media (max-width: 600px) {
    .left-phase-img{
        display: none;
    }
    .right-phase-img{
        display: none;
    }
    .process__phases{
        grid-template: repeat(6, 1fr) / 1fr;
    }
    .discovery-phase {
        grid-area: 1 / 1 / 2 / 2;
    }
    .design-phase {
        grid-area: 2 / 1 / 3 / 2;
    }
    .dev-phase {
        grid-area: 3 / 1 / 4 / 2;
    }
    .testing-phase {
        grid-area: 4 / 1 / 5 / 2;
    }
    .deployment-phase {
        grid-area: 5 / 1 / 6 / 2;
    }
    .maintenance-phase {
        grid-area: 6 / 1 / 7 / 2;
    }
    .process-btn {
        padding: 16px 15px;
    }
}

@media (max-width: 350px){
    .process {
        padding: 10px 20px 0px;
    }
}