.process__heading {
    text-align: center;
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 40px;
    color: #080D16;
    text-transform: uppercase;
    padding-top: 100px;
    margin-bottom: 30px;
}