.projects {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project {
    padding: 30px 100px;
}
.projects__heading {
    text-align: center;
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 40px;
    color: #080D16;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.project__heading {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: #080D16;
}
.project-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 15px 0;
}
.desktop {
    max-width: 520px;
}
.tablet {
    max-width: 350px;
}
.phones {
    max-width: 350px;
}
.project__description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #080D16;
}
.project__description p span {
    font-weight: 600;
}
.projects-btn {
    text-decoration: none;
    color: white;
    padding: 16px 100px;
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background: #005697;
    border-radius: 10px;
}