.quote {
    padding: 0 250px;
}
.quote__text {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #005697;
}

.quote__author {
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 24px;
    color: #858584;
    text-align: right;
}

@media (max-width: 1200px) {
    .quote {
        padding: 0 150px;
    }
}
@media (max-width: 1000px) {
    .quote {
        padding: 0 75px;
    }
    .quote__text {
        font-size: 24px;
    }
    .quote__author {
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .quote {
        padding: 0 25px;
    }
    .quote__text {
        font-size: 20px;
    }
    .quote__author {
        font-size: 16spx;
    }
}