.quote {
    padding: 0 250px ;
}
.quote__text {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #005697;
}

.quote__author {
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 24px;
    color: #858584;
    text-align: right;
}