* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.error-page-heading{
    padding: 100px 0;
    font-family: 'Commisioner', sans-serif;
    font-size: 70px;
    text-align: center;
}
.error-page-btn {
    width: max-content;
    margin: 0 auto;
    padding: 16px 100px;
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    background: #005697;
    border-radius: 10px;
    margin-bottom: 25px;
}
.error-page-btn a{
    padding: 16px 100px;
    text-decoration: none;
    color: white;
}