@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px;
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #4267b2;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5c80c7;
}