form.login {
    max-width: 400px;
    margin: 40px auto;
    padding-top: 100px;
    background: #fff;
}

form.login h3 {
    text-align: center;
    font-size: 44px;
    margin-bottom: 25px;
}

form.login label {
    display: inline-block;
    width: 110px;
    font-size: 18px;
}

form.login input {
    font-size: 15px;
    padding: 10px;
}

form.login .form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-direction: column;
}

form.login .form-wrapper .email-field-div, form.login .form-wrapper .password-field-div {
    margin-bottom: 10px;
}


form.login button {
    text-decoration: none;
    color: white;
    padding: 16px 100px;
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background: #005697;
    margin: 25px 0;
    border-radius: 10px;
    border: 0;
}

form.login .error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid #e7195a;
    color: #e7195a;
    font-weight: 600;
    border-radius: 15px;
    text-align: center;
    margin: 20px 0;
}