footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}
.footer-links {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 18px;
}
.footer-links li a {
    font-family: 'Commisioner', sans-serif;
    text-decoration: none;
    color: #080D16;
    font-weight: 600;
    font-size: 18px;
}
.footer-links li a:hover {
    color: #4267B2;
}
.social-media__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts a {
    text-decoration: none;
    color: black;
}
.contacts-heading {
    margin-bottom: 16px;
}

@media (max-width: 800px) {
    .footer-links {
        display: none;
    }
    .footer-logo {
        width: 40vw;
    }
}
@media (max-width: 500px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-logo {
        margin-bottom: 25px;
        width: 50vw;
    }
    .social-media__div {
        margin-bottom: 30px;
    }
    .social-media__list {
        gap: 10px;
        margin-top: 8px;
    }
}
